.header{
    border:solid 3px black;
    background-color:cyan;
    font-family: cursive;
    color: green;
    
}
a:link{
    color:white;

}
a:visited{
    color:white;

}
.contents{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.contents{

}
.contents:hover{
    transform: scale(1,2);
}
a{
    text-decoration: none;
}